body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
}

#map {
    flex: 3;
    height: 100vh;
}

#sidebar {
    flex: 1;
    padding: 15px;
    background: #f4f4f4;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

select, input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}
